<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
DevSecOps Control Center
</title>


<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">


</head>


<body>


<div class="background"></div>



<div class="container">


<header>


<h1>
Cloud Native Security Platform
</h1>


<p>
DevSecOps Control Center
</p>


<div id="status">
SYSTEM OPERATIONAL
</div>


</header>




<section class="cards">



<!-- Runtime -->

<div class="card">


<h2>
Runtime Environment
</h2>


<div class="info">

<span>
Application
</span>

<strong>
Cloud Native Security Platform
</strong>

</div>



<div class="info">

<span>
Platform
</span>

<strong id="platform">
Loading...
</strong>

</div>



<div class="info">

<span>
Environment
</span>

<strong id="environment">
Loading...
</strong>

</div>



<div class="info">

<span>
Pod
</span>

<strong id="hostname">
Loading...
</strong>

</div>



<div class="info">

<span>
Version
</span>

<strong id="version">
Loading...
</strong>

</div>



<div class="info">

<span>
Replicas
</span>

<strong id="replicas">
Loading...
</strong>

</div>


</div>






<!-- GitOps -->


<div class="card">


<h2>
GitOps Deployment
</h2>



<div class="info">

<span>
Controller
</span>

<strong>
ArgoCD
</strong>

</div>



<div class="info">

<span>
Sync Status
</span>

<strong id="sync"
class="success">
Loading...
</strong>

</div>



<div class="info">

<span>
Health
</span>

<strong id="health"
class="success">
Loading...
</strong>

</div>


</div>






<!-- Security -->


<div class="card">


<h2>
Security Gate
</h2>



<div id="pipeline">


Loading security pipeline...


</div>



</div>




</section>






<section class="card pipeline-card">


<h2>
CI/CD Security Pipeline
</h2>



<div class="flow">


<div>
GitHub Repository
</div>


<div class="arrow">
↓
</div>


<div>
SAST Analysis
</div>


<div class="arrow">
↓
</div>


<div>
Secrets Detection
</div>


<div class="arrow">
↓
</div>


<div>
Container Security
</div>


<div class="arrow">
↓
</div>


<div>
DAST Validation
</div>


<div class="arrow">
↓
</div>


<div>
Kubernetes Deployment
</div>


</div>


</section>





<footer>

DevSecOps Platform
|
Kubernetes
|
ArgoCD
|
Prometheus

</footer>



</div>




<script src="{{ url_for('static', filename='app.js') }}">
</script>


</body>


</html>
